@import "../../styles_partials/flex";
@import "../../styles_partials/colors";
@import "../../styles_partials/fonts";

$pale-pink: map-get($accent-colors, pale-pink);

.nav {
    @include flex($place_horizontal: space-between);
    padding: 1em;

    .logo {
        width: 250px;
        height: 80px;
        background: $pale-pink;
    }

    .hamburger-btn {
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: .15s ease-in;
        border-radius: 10px;

        path {
            stroke: $pale-pink;
            transition: .15s ease-in;
        }

    }

    .hamburger-btn:hover {
        background-color: $pale-pink;

        path {
            stroke: white;
        }
    }

    //outer wrap 
    .modal-content {
        background-color: red;

        // list of links
        div {
            @include flex($direction: column);
            color: white;
            gap: 15px;
            margin-top: 2em;
            font-weight: map-get($font-weights, bold);
            font-size: map-get($font-sizes, reg);
            
            //svg style for a closing button
            svg{
                border-radius: 8px;
                transition: .2s ease-in-out;
            }

            svg>path {
                stroke: white;
            }

            svg:hover {
                cursor: pointer;
                background-color: white;

                path {
                    transition: .2s ease-in-out;
                    stroke: $pale-pink;
                }
            }
        }
    }
}