.bg-overlay{
    background-color: #CCCCCC;
    opacity: 0.45;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.bg-img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.no-scroll{
  overflow: hidden;
}