@import "../../styles_partials/flex";
@import "../../styles_partials/colors";

.order-confirmation-outer {
    @include flex();
    width: 100%;
    background-color: $bg-white;
    padding: 20px;

    .order-detail-heading-div,
    .user-detail-heading-div {
        @include flex($place-horizontal: flex-start);
        padding-block: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        gap: 15px;
        margin-block: 10px 20px;

        svg {
                width: 35px;
                height: 35px;
                flex-shrink: 0;
        }
    }
    .user-detail-heading-div{
        margin-top: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        margin-block: 10px;
        font-size: calc(var(--fs-reg) + .2rem);
    }

    h3 {
        margin-bottom: 20px;
        font-size: var(--fs-reg);
        text-align: center;
    }

    h4,
    label {
        font-size: var(--fs-reg);
        font-weight: bold;
    }

    .containsLettering-container{
        label{
            margin-right: 15px;
        }
        input {
            accent-color: green;
            pointer-events: none;
        }
    }

    &>div {
        min-width: 70%;
        background: linear-gradient(to bottom right, white,80%, lightgrey);
        box-shadow: 0 24px 30px rgba(0, 0, 0, 0.1);
        padding: 30px;
        padding-top: 20px;
    }

    .additionalMessage-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        textarea {
            margin-top: 10px;
            resize: none;
            padding: 10px;
            min-height: 150px;
            height: auto;
            width: auto;
            font-size: var(--fs-sm);
            cursor: default;
        }
    }

    h6{
        font-size: calc(var(--fs-reg) - .2rem);
    }
}