@import "../../styles_partials/flex";
@import "../../styles_partials/colors";
@import "../../styles_partials/breakpoints";

.outer-user-wrap {
    background: linear-gradient(to right bottom, $acc-pale-pink, $acc-purple-intense);
    padding-block: 50px;
    @include flex();
}

.order-user-form {
    background: white;
    padding: 30px 50px;
    text-align: center;
    border-radius: 5px;
    flex-shrink: initial;
    &>*{
        min-width: 0;
    }

    /* GRID */
    display: grid;
    grid-template-areas: "z z"
        "a b"
        "specialErrors specialErrors"
        "c c"
        "d d"
        "e f";
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .specialErrors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: red;
        font-size: var(--fs-sm);
        grid-area: specialErrors;
    }

    .z {
        grid-area: z;
        font-size: var(--fs-xl);
    }

    .a {
        margin-right: 10px;
        grid-area: a;
    }

    .b {
        grid-area: b;
    }

    .c {
        grid-area: c;
        width: 100%;

        input {
            width: 100%;
        }
    }

    .d {
        grid-area: d;
        margin-bottom: 20px;

        input {
            width: 100%;
        }
    }

    .e {
        grid-area: e;
    }

    .f {
        grid-area: f;
    }

    .input-container {
        @include flex($direction: column);
        width: 100%;

        label {
            font-size: calc(var(--fs-reg) - .3rem);
        }

        span {
            color: red;
            font-size: var(--fs-sm);
        }

        input {
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 4px;
        }

        input:focus {
            outline: none;
            border: 1px solid $acc-purple-intense;
        }
    }

    button {
        cursor: pointer;
        border: none;
        padding: 8px 15px;
        font-weight: bold;
        background-color: black;
        color: white;
        border-radius: 5px;
        transition: .2s;
    }

    button:hover {
        background-color: $acc-purple-intense;
    }

    button:disabled {
        color: lightgrey;
        background-color: grey;
        cursor: default;
    }
}
@media(max-width: $tablet){
    .order-user-form{
        grid-template-areas: "z z"
                             "a b"
                             "specialErrors specialErrors"
                             "c c"
                             "d d"
                             "e e"
                             "f f";
        button{
            width: 70%;
            place-self: center;
        }
    }
}