@import "../../styles_partials/flex";
@import "../../styles_partials/breakpoints";
@import "../../styles_partials/colors";

.order-food-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px auto;
    width: 85%;

    label {
        margin-right: 8px;
    }

    .heading-div {
        color: black;
        background: linear-gradient(to bottom left,white,50%,$bg-white);
        padding-top: 30px;
        text-align: center;
        @include flex($direction: column, $place-horizontal: start);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    img {
        border-radius: 10px;
        width: 70%;
        margin-top: 10px;
    }

    .all-filters{
        background: linear-gradient(to bottom right, white, 50%, $bg-white);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-left: 1px solid #f1f1f1;
        input{
            accent-color: yellow;
        }
    }

    .buttons-div{
        @include flex();
        margin-block: 20px;
        gap: 10px;
        svg{
            background-color: white;
            width: 38px;
            height: auto;
            border-radius: 2px;
            path{
                fill:black; 
                transition: .2s;
            }
        }
        svg:hover{
            path{
                fill: $acc-purple-intense;
            }
        }
    }

    .filter-container,
    .lettering,
    .additionalMessage {
        padding: 15px;
        border-bottom: 1px solid white;
    }

    .lettering>label, .additionalMessage>label {
        font-weight: bold;
        font-size: var(--fs-reg);
    }

    .additionalMessage{
        @include flex($direction: column);
        border: none;
        textarea{
            margin-block: 10px;
            padding: 10px;
            border: none;
            border: 1px solid grey;
            width: 85%;
            resize: none;
            height: 200px;
            border-radius: 3px;

            &:focus{
                outline: none;
                border: 1px solid $acc-purple-intense;
            }
        }
    }

    button{
        background-color: white;
        color: black;
        border: 3px solid black;
        // display: block;
        // margin: 10px auto;
        padding: 5px 12px;
        border-radius: 3px;
        cursor: pointer;
        font-weight: bold;
        transition: all .2s;
    }

    button:not(:disabled):hover{
        color: $acc-purple-intense;
        border: 3px solid $acc-purple-intense;;
    }

    button:disabled{
        background-color: grey;
        color: lightgrey;
        cursor: default;
    }

    @media(max-width: $tablet){
        &{
            grid-template-columns: 1fr;
            grid-template-rows: 20% 70% 10%;
        }

        .heading-div{
            @include flex();
        }

        svg{
            margin-left: 10px;
            width: 45px;
            height: 45px;
            path{
                fill: $acc-purple-intense;
            }
        }

        img{
            height: 25vh;
        }
    }
}

.order-spinner-box {
    @include flex;
    margin: 50px;
}