@import "../../styles_partials/flex";
@import "../../styles_partials/colors";
@import "../../styles_partials/breakpoints";


.order-confirmation-outer {
    @include flex();
    width: 100%;
    background-color: $bg-white;
    padding: 20px;

    .order-detail-heading-div,
    .user-detail-heading-div {
        @include flex($place-horizontal: flex-start);
        padding-block: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        gap: 15px;
        margin-block: 10px 20px;

        svg {
            width: 35px;
            height: 35px;
            flex-shrink: 0;
        }
    }

    .user-detail-heading-div {
        margin-top: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        margin-block: 10px;
        font-size: calc(var(--fs-reg) + .2rem);
    }

    h4,
    label {
        font-size: var(--fs-reg);
        font-weight: bold;
    }

    .food-name{
        font-size: calc(var(--fs-reg) + .2rem);
        margin: 5px;
        text-align: center;
    }

    .containsLettering-container {
        label {
            margin-right: 15px;
        }

        input {
            accent-color: green;
            pointer-events: none;
        }
    }

    &>div {
        min-width: 70%;
        background: linear-gradient(to bottom right, white, 80%, lightgrey);
        box-shadow: 0 24px 30px rgba(0, 0, 0, 0.1);
        padding: 30px;
        padding-top: 20px;
    }

    .additionalMessage-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        textarea {
            margin-top: 10px;
            resize: none;
            padding: 10px;
            min-height: 150px;
            height: auto;
            width: auto;
            font-size: var(--fs-sm);
            cursor: default;
        }
    }

    h6 {
        font-size: calc(var(--fs-reg) - .2rem);
    }

    .user-data-container {
        @include flex($place-horizontal: start);
        margin-bottom: 20px;
        gap: 10px;

        svg {
            flex-shrink: 0;
            width: 35px;
            height: auto;
        }

        .user-id-card {
            width: 40px;
        }
    }

    .submit-div{
        @include flex();
        gap: 10px;
        .svg-button{
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
        }
        svg{
            width: 45px;
            height: auto;
            background: linear-gradient(to bottom right, $acc-purple, $acc-purple-intense);
            path{
                fill: white;
            }
        }
        .submit-button {
            color: white;
            background: linear-gradient(to bottom right, $acc-purple, $acc-purple-intense);
            padding: 10px 15px;
            border-radius: 7px;
            border: none;
            font-size: calc(var(--fs-sm) + .2rem);
            font-weight: bold;
            cursor: pointer;
            transition: transform .2s ease-in-out;
        }

        @keyframes pulse-submit{
            0% {
                box-shadow: 0 0 0 0 $acc-purple, 0 0 0 0 $acc-purple;
            }

            40% {
                box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 15px $acc-purple;
            }

            80% {
                box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 25px rgba(255, 4, 0, 0);
            }

            100% {
                box-shadow: 0 0 0 0 $acc-purple-intense, 0 0 0 15px rgba(255, 4, 0, 0);
            }
        }

        @keyframes pulse-svg{
            0% {
                box-shadow: 0 0 0 0 $acc-purple, 0 0 0 0 $acc-purple;
            }

            40% {
                box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 5px $acc-purple;
            }

            80% {
                box-shadow: 0 0 0 0 rgba(255, 4, 0, 0), 0 0 0 10px rgba(255, 4, 0, 0);
            }

            100% {
                box-shadow: 0 0 0 0 $acc-purple-intense, 0 0 0 5px rgba(255, 4, 0, 0);
            }

        }

        .submit-button:hover {
            animation: pulse-submit .5s linear;
        }
        .svg-button:hover{
            animation: pulse-svg .5s linear;
        }
    }

    .none{
        display: none;
    }
    .order-message-block{
        width: 50%;
        margin: auto;
        svg{
            flex-shrink: 0;
        }
    }
    @media(max-width: $tablet)
    {
        .order-message-block{
            width: 90%;
        }
    }
}