@import "../../styles_partials/flex";
@import "../../styles_partials/breakpoints";
@import "../../styles_partials/colors";

.order-food-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px auto;
    width: 85%;
    color: white;

    label {
        margin-right: 8px;
    }

    .heading-div {
        color: black;
        background: linear-gradient(to bottom,white,80%,$bg-white);
        border-block: 3px solid white;
        padding-top: 30px;
        text-align: center;
        @include flex($direction: column, $place-horizontal: start);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    img {
        border-radius: 8px;
        width: 70%;
        margin-top: 10px;
    }

    .all-filters{
        background: linear-gradient(to right,  $acc-purple-intense,20%,$acc-pale-pink );
    }


    .all-filters {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: 3px solid white;
    }

    .filter-container,
    .lettering,
    .additionalMessage {
        padding: 15px;
        border-bottom: 3px solid white;
    }

    .lettering>label, .additionalMessage>label {
        font-weight: bold;
        font-size: var(--fs-reg);
    }

    .additionalMessage{
        @include flex($direction: column);
        border: none;
        textarea{
            margin-block: 10px;
            padding: 10px;
            border: none;
            width: 85%;
            resize: none;
            height: 200px;
            border-radius: 3px;

            &:focus{
                outline: none;
                border: 1px solid $acc-purple-intense;
            }
        }
    }

    button{
        background-color: white;
        border: none;
        color: $acc-pale-pink;
        display: block;
        margin: 10px auto;
        padding: 8px 15px;
        border-radius: 7px;
        cursor: pointer;
        font-weight: bold;
        transition: all .2s;
    }

    button:not(:disabled):hover{
        background-color: black;
        color: white;
    }

    button:disabled{
        background-color: grey;
        color: lightgrey;
        cursor: default;
    }

    @media(max-width: $tablet){
        &{
            grid-template-columns: 1fr;
            grid-template-rows: 20% 70% 10%;
        }

        .heading-div{
            @include flex();
        }

        svg{
            margin-left: 10px;
            width: 45px;
            height: 45px;
            path{
                fill: $acc-purple-intense;
            }
        }

        img{
            height: 25vh;
        }
    }
}

.order-spinner-box {
    @include flex;
    margin: 50px;
}