@import "../../styles_partials/flex";
.confirmation-modal-content{
    @include flex($direction: column);
    z-index: 6;
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  div{
    @include flex();
    gap: 20px
  }
  h1{
    font-size: var(--fs-reg);
    margin-bottom: 10px;
  }
  button{
    background: none;
    cursor: pointer;
    transition: .2s;
    padding: 5px 15px;
    border-radius: 45px;
    font-weight: bold;
    font-size: calc(var(--fs-reg) - .2rem);
    text-align: center;
  }
  .yes-button{
    color: green;
    background: white;
    border: 1px solid green;
  }
  .yes-button:hover{
    color: white;
    background-color: green;
  }
  .no-button{
    color: red;
    border: 1px solid red;
  }
  .no-button:hover{
    color: white;
    background: red;
  }
}