$primary-colors:(
    white: #FAF3DD,
    bg-black: #303339,
);

$accent-colors:(
    pale-pink: #FFA69E,
    brown: #b0737b
);

$text-colors:(
    white: #FFF,
    black: #313131,
    grey: #ffffff70,
);

$modal-overlay-color: #1a1a1a;