@import "./breakpoints";

$font-weights: (
    reg: 400,
    thin: 100,
    bold: 600
);

$font-sizes: (
    sm: 0.8rem,
    reg: 1.22rem,
    lg: 1.5rem,
    x-lg: 2rem
);

@media(min-width: phone) {
    $font-sizes: (
        sm: 1.2rem,
        reg: 1.6rem,
        lg: 1.8rem,
        x-lg: 2.2rem,
    )
}



$ff-main: "Roboto", sans-serif;