@import "../styles_partials/flex";
@import "../styles_partials/colors";
@import "../styles_partials/fonts";
@import "../styles_partials/breakpoints";

.outer-contact-wrap{
    width: 100%;
    @include flex($direction: column);
    padding-block: 6em;
    h1{
        font-size: var(--fs-xl);
        margin-bottom: 1.5em;
    }
    .inner-contact{
        @include flex($place-vertical: start);
        width: 85%;

        h6{
            font-size: var(--fs-reg);
        }

        span{
            display: block;
            font-size: var(--fs-sm);
            color: $text-dark-grey;
        }

        form{
            &, &>.input-container
            {
                @include flex($direction: column, $place-vertical: start);
                width: 100%;
            }
            &>.input-container{
                margin-bottom: 1em;
                span{
                    margin-top: 10px;
                    color: red;
                }
            }
            input, textarea{
                font-size: var(--fs-sm);
                padding:.5em 1em;
                width: 80%;
                border: 1px solid $bg-dark-grey;
            }

            input:hover, textarea:hover{
                border: 1px solid black;
            }

            input:focus, textarea:focus{
                border: 1px solid $acc-purple-intense;
                outline: none;
            }
            
            textarea{
                resize: none;
                height: 20vh;
            }

            button{
                // is a flex container for the loading spinner inside
                @include flex();
                color: white;
                min-width: 120px;
                background-color: black;
                border: none;
                font-weight: $fw-bold;
                font-size: cal(var(--fs-sm) + .3rem);
                padding: .5em 2em;
                border-radius: 3px;
                transition: all .2s ease-in-out;
                cursor: pointer;

                &:hover{
                    background-color: $acc-pale-pink;
                }
            }
            
            .contact-message-block{
                margin-top: 15px;
            }
        }
        @media(max-width: $tablet)
        {
            //.inner-content
            &{
                flex-direction: column;
                form, form>.input-container
                {
                    text-align: center;
                    align-items: center;
                }

                form>textarea
                {
                    height: 10vh;
                }

                &>div{
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}