@import "../styles_partials/flex";
@import "../styles_partials/colors";
@import "../styles_partials/fonts";
@import "../styles_partials/transitions";

footer{
    @include flex($direction: column);
    background-color: $bg-black;
    span, a{
        font-weight: $fw-bold 
    }
    .upper-footer{
        @include flex($place_horizontal: space-between);
        width: 90%;
        padding: 2em;

        div{
            @include flex($direction: column, $place_vertical: start);
            gap: 1em;
            color: $text-grey;
        }

        a{
            cursor: pointer;
            transition: $generic_transition;

            &:hover{
                color: white;
            }
        }

        h6{
            color: white;
            font-size: calc(var(--fs-reg) - .2rem);
        }
        img{
            width: 200px;
        }
    }

    @media(max-width: $tablet){
        .upper-footer{
            @include flex($direction: column, $place_vertical: start);
            gap: 40px;
        }
    }

    hr{
        width: 100vw;
        height: 1px;
        background-color: $text-grey;
    }

    .lower-footer{
        @include flex($place_horizontal: space-between);
        width: 90%;
        color: $text-grey;
        padding: 1em 2em;

        a{
            margin: 20px;
        }
        a:hover{
            color: white;
            transition: $generic_transition;
        }
    }

    @media(max-width: $phone){
        .lower-footer{
            @include flex($direction: column);
            padding: 5px;
            a{
                margin: 10px;
            }
            div{
                width: 100%;
                gap: 0;
                white-space: nowrap;
                font-size: var(--fs-sm);
                @include flex;
                flex-wrap: wrap;
            }
        }
    }
}