.order-table{
    border-spacing: 0;
    border-collapse: separate;
    background-color: #fffffe;
    margin-block: 15px;
}

tr>td, th{
    padding: 10px 15px;
}

tr{
    border-bottom: 1px solid black;
}


thead{
    background-color: #e5c09c;
}