@import "../styles_partials/flex";
@import "../styles_partials/colors";
@import "../styles_partials/fonts";
@import "../styles_partials/transitions";

footer{
    @include flex($direction: column);
    background-color: map-get($primary-colors, bg-black);
    span, a{
        font-weight: map-get($font-weights, bold )
    }
    .upper-footer{
        @include flex($place_horizontal: space-around);
        width: 100%;
        padding: 2em;

        div{
            @include flex($direction: column, $place_vertical: start);
            gap: 1em;
            color: map-get($text-colors, grey);
        }

        span, a{
            cursor: pointer;
            transition: $generic_transition;

            &:hover{
                color: white;
            }
        }

        h6{
            color: white;
            font-size: calc(map-get($font-sizes, reg ) - .2rem);
        }

        .logo{
            width: 20%;
            height: 180px;
            background-color: white;
        }
    }

    @media(max-width: $tablet){
        .upper-footer{
            @include flex($direction: column, $place_vertical: start);
            gap: 40px;
        }
    }

    hr{
        width: 100vw;
        height: 1px;
        background-color: map-get($text-colors, grey );
    }

    .lower-footer{
        @include flex($place_horizontal: space-between);
        width: 85%;
        color: map-get($text-colors, grey);
        padding: 2em 1em;

        a{
            margin: 20px;
        }
        a:hover{
            color: white;
            transition: $generic_transition;
        }
    }

    @media(max-width: $phone){
        .lower-footer{
            @include flex($direction: column);
            padding: 5px;
            a{
                margin: 10px;
            }
            div{
                width: 100%;
                gap: none;
                white-space: nowrap;
                font-size: map-get($font-sizes, sm );
                @include flex;
                flex-wrap: wrap;
            }
        }
    }
}