@import "../../styles_partials/colors";
@import "../../styles_partials/flex";
@import "../../styles_partials/fonts";

nav{
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    .disabled{
        opacity: 0;
        position: absolute;
        z-index: -10;
    }
}

.upper-nav-wrap, .lower-nav-wrap{
    width: 100%;
}

.upper-nav-wrap{
    transition: .5s all ease;
    background-color: $acc-pale-pink;
}

.upper-nav, .lower-nav{
    width: 85%;
    margin: auto;
    font-weight: $fw-bold;
}

.upper-nav{
    @include flex($place_horizontal: space-between);
    padding-block: 15px;
    color: $text-white;

    svg{
        width: 25px;
        height: auto;
        fill: white;
    }

    .email-div{
        margin-left: 20px;
    }

    div{
        @include flex;
        gap: 10px;
    }

    span{
        font-size: var(--fs-sm);
    }
}

.lower-nav{
    @include flex($place_horizontal: space-between);
    padding-block: 18px;

    .logo{
        width: 200px;
        height: 50px;
        background-color: $acc-pale-pink;
        cursor: pointer;
    }

    div{
        @include flex;
        gap: 2em;
    }

    a{
        transition: .2s ease-in;

        &:hover{
            color: $acc-pale-pink;
        }
    }

    .order-btn{
        border: 2px solid $acc-pale-pink;
        color: $acc-pale-pink;
        background-color: white;
        padding: 6px 15px;
        border-radius: 6px;
        font-size: var(--fs-sm);

        &:hover{
            color: white;
            background-color: $acc-pale-pink;
        }
    }
}
