@import "../../styles_partials/flex";
@import "../../styles_partials/colors";
@import "../../styles_partials/fonts";


.nav {
    @include flex($place_horizontal: space-between);
    background-color: white;
    padding: 1em;
    position: sticky;

    &.isScrolled{
        top: 1em;
    }

    .logo {
        width: 250px;
        height: 60px;
        background: $acc-pale-pink;
    }

    .hamburger-btn {
        flex-shrink: 0;
        margin-left: 10px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: .15s ease-in;
        border-radius: 10px;

        path {
            stroke: $acc-pale-pink;
            transition: .15s ease-in;
        }

        &:hover{
            background-color: $acc-pale-pink;

            path {
                stroke: white;
            }
        }
    }

    //outer wrap 
    .modal-content {
        background-color: $acc-pale-pink;
        width: 30%;
        height: 100vh;
        position: fixed;
        z-index: 6;

        // list of links
        div {
            @include flex($direction: column);
            color: white;
            gap: 15px;
            margin-top: 2em;
            font-weight: $fw-bold;
            font-size: var(--fs-reg);
            
            a{
                transition: .2s ease-in-out;

                &:hover{
                    color: $acc-purple-intense;
                }
            }
            //svg style for a closing button
            svg{
                border-radius: 8px;
                transition: .2s ease-in-out;

                &:hover{
                    cursor: pointer;
                    background-color: white;

                    path {
                        transition: .2s ease-in-out;
                        stroke: $acc-pale-pink;
                    }
                }
            }

            svg>path {
                stroke: white;
            }
        }
    }
    @media(max-width: calc($phone - 200px)){
        .modal-content{
            width: 60%;
        }
    }
}