.home-outer-grid{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "a a" 
                         "b c";
}

.home-outer-grid>*{
    border: 1px solid black
}

.home-upper{
    display: flex;
    flex-direction: row;
    grid-area: a;
    border-bottom: 1px solid black;
    padding: 10px;
}

.home-buttons-outer{
    grid-area: b;
    background-color: #ededed;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.home-buttons-inner>img{
    width: 50px;
}

.home-buttons-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Home-c{
    padding: 20px;
    grid-area: c;
}