$prim-white: #FAF3DD;
$bg-black: #303339;
$bg-white: #F4F4F4;
$bg-dark-grey: #999999;


$acc-pale-pink: #FFA69E;
$acc-brown: #b0737b;
$acc-purple: #8BACF7;
$acc-purple-intense: #6245F0;

$text-white: #FFF;
$text-black: #313131;
$text-grey: #ffffff70;
$text-dark-grey: #555555;

$modal-overlay-color: #1a1a1a;