@import "../styles_partials/flex";
@import "../styles_partials/breakpoints";

.container {
    @include flex;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    margin-block: 20px;
}

.card {
    @include flex($direction: column);
    text-align: center;
    background: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 25px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover{
        transform: scale(1.05);
    }
    h2{
        font-size: var(--fs-lg);
        margin-top: 0;
    }

    img{
        border-radius: 10px;
        margin-block: 10px 20px;
        height: 400px;
        object-fit: cover;
    }
}

@media(max-width: $tablet){
    .card img{
        height: 25vh;
    }
}
@media(max-width: $phone){
    .container{
        @include flex($direction: column);
    }
}

