@import "./styles_partials/fonts";
@import "./styles_partials/resets";
@import "./styles_partials/breakpoints";
body{
    font-family: $ff-main;
}

:root{
    --fs-sm: 0.8rem;
    --fs-reg: 1.4rem;
    --fs-lg: 1.8rem;
    --fs-xl: 2rem;
}

@media(min-width: $tablet){
    :root{
        --fs-sm: 0.9rem;
        --fs-reg: 1.6rem;
        --fs-lg: 2.2rem;
        --fs-xl: 2.4rem;
    }
}